html
  head
    title ttt 
    link(rel='stylesheet' href='public/style.css')
    script(src="./client.js") 
  body
    h1(class='title', id='main-title') 
      | TIC TAC TOE   
    h2(class='title', id='subtitle')
      | BY STEVEN SINHA  
    a(href = '../login')
      button(type='button' id='login-button') LOGIN 
    a(href = '/verify')
      button(type='button' id='verify-button') VERIFY ACCOUNT   
    a(href = '/adduser')
      button(type='button' id='adduser-button') REGISTER
    img(src='public/cat.jpeg' id='cat-image')
    div.board
      each val, index in grid
        button(type='button' class='play-button' id='button-' + index) #{grid[index] == ' ' ? '-' : grid[index]}
        if(index % 3 == 2)
          div(class='row' id='row-' + index)
    div.banner 
      span(class='banner-text') SMOGE  