html
  head
    title tic tac toe 
    link(rel='stylesheet' href='public/style.css')
  body
    h1(id='title') 
      | TIC TAC TOE   
    h2(id='subtitle')
      | BY SMOGE GROUP 
    a(href = '/ttt/login')
      button(type='button' id='login-button') LOGIN 
    a(href = '/ttt/adduser')
      button(type='button' id='login-button') REGISTER  
    img(src='public/cat.jpeg' style='width:400px; height:262 px;')
    form(action='/ttt/', method='POST')
      div
        label(name='name')
        input(name='name' value='')
      div
        button Submit
    div.board
      each val, index in grid
        button(type='button' class='play-button' id='button-' + index) #{grid[index] == ' ' ? '-' : grid[index]}
        if(index % 3 == 2)
          div(class='row' id='row-' + index)