html
  head
    title ttt login
  body
    form(action='/login', method='POST')
      div
        p username
        input(type="text" name="username" placeholder="")
      div
        p password 
        input(type="text" name="password" placeholder="")
      div
        a(href = '/ttt/play')
          input(type="submit")