body {
    background-color: lightpink;
    text-align: center;
}

.para{
    color: blue
}

.board{
    position: absolute;
    top: 47%;
    left: calc(50% - 150px);
}

.title {
    font-family: 'Lucida Console';
    color: rgba(67,45,34,255)
}

.banner{
    margin: 0px;
    padding: 0px;
    border-radius: 0;
    border-width: 0;

    height: 10%;
    width: 100%;
    left: 0%;
    position: absolute;
    top:90%;

    background-color: rgba(67,45,34,255);
}

.banner-text{
    position: relative;
    top: calc(50% - 12px);


    color: lightpink;
    font-family: 'Lucida Console';
    font-size: 24px;
}

.play-button{
    border-style: solid;
    height: 100px;
    width: 100px;
    padding: 5px;
    font-size: 40;
    font-family: 'Lucida Console';
    color: lightgoldenrodyellow;
    background-color: lightpink;
    border-color: lightgoldenrodyellow;
    border-width: 0px;
    box-shadow: none;
}

#main-title{
    font-size: 40px;
    position: relative;
    top: 5%;
}

#subtitle{
    font-size: 24px;
}

#cat-image {
    position: absolute;
    left: calc(50% - 200px);
    width: 400px;
    height: 262px;
}

#button-0 {
    border-right-width: 2px;
    border-bottom-width: 2px;
}

#button-1 {
    border-right-width: 2px;
    border-left-width: 2px;
    border-bottom-width: 2px;
}

#button-2 {
    border-left-width: 2px;
    border-bottom-width: 2px;
}

#button-3 {
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
}

#button-4 {
    border-top-width: 2px;
    border-right-width: 2px;
    border-left-width: 2px;
    border-bottom-width: 2px;
}

#button-5 {
    border-top-width: 2px;
    border-left-width: 2px;
    border-bottom-width: 2px;
}

#button-6 {
    border-top-width: 2px;
    border-right-width: 2px;
}

#button-7 {
    border-top-width: 2px;
    border-right-width: 2px;
    border-left-width: 2px;
}

#button-8 {
    border-top-width: 2px;
    border-left-width: 2px;
}
